/* screen - button-size-normal */

.border-1px-black-3 {
  border: 1px solid var(--black-3);
}
.border-1px-sushi {
  border: 1px solid var(--sushi);
}
.border-class-1 {
  border: 1px solid rgba(221,229,233,1.0);
}
.button-size-normal {
  background-color: transparent;
  height: 46.65px;
  overflow-x: hidden;
  position: relative;
  width: 101.78px;
}
.button-size-normal .label-QEAA4S {
  background-color: transparent;
  color: var(--white);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 13.6px;
  font-style: normal;
  font-weight: 600;
  height: 23px;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 23.1px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.button-size-normal .normal-C61RwL {
  background-color: var(--congress-blue);
  border-radius: 5.089108943939209px;
  height: 47px;
  left: 0px;
  position: relative;
  top: -0px;
  width: 101px;
}
.exo-bold-white-24px {
  color: var(--white);
  font-family: 'Exo', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.exo-medium-desert-storm-54px {
  color: var(--desert-storm);
  font-family: 'Exo', Helvetica, Arial, serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
}
.exo-normal-onyx-20px {
  color: var(--onyx);
  font-family: 'Exo', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.opensans-light-onyx-24px {
  color: var(--onyx);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
}
.opensans-normal-onyx-13px {
  color: var(--onyx);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.opensans-normal-onyx-24px {
  color: var(--onyx);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.opensans-normal-white-24px {
  color: var(--white);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.opensans-semi-bold-white-16px {
  color: var(--white);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.robotocondensed-light-onyx-21px {
  color: var(--onyx);
  font-family: 'Roboto Condensed', Helvetica, Arial, serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
}
.robotocondensed-normal-black-18px {
  color: var(--black-2);
  font-family: 'Roboto Condensed', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --black: rgba(0,0,0,1.0);
  --black-2: rgba(0,0,0,0.44);
  --black-3: rgba(0,0,0,0.31);
  --congress-blue: rgba(0,72,124,1.0);
  --congress-blue-2: rgba(0,72,124,0.3);
  --desert-storm: rgba(248,248,248,1.0);
  --mist-gray: rgba(196,196,196,0.5);
  --onyx: rgba(58,58,60,1.0);
  --sushi: rgba(131,179,59,1.0);
  --white: rgba(255,255,255,1.0);
}
