/* screen - chat-agency-detail */

.border-1px-black-3 {
  border: 1px solid var(--black-3);
}
.border-1px-sushi {
  border: 1px solid var(--sushi);
}
.border-class-1 {
  border: 1px solid rgba(221,229,233,1.0);
}
.chat-agency-detail {
  background-color: var(--desert-storm);
  height: 482px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.chat-agency-detail .active-now-w3182L {
  background-color: transparent;
  color: rgba(58,58,60,0.64);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: 93px;
}
.chat-agency-detail .essentials-times-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 328px;
  overflow: hidden;
  position: absolute;
  top: 23px;
  width: 24px;
}
.chat-agency-detail .group-1-IcPKRJ {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 278px;
}
.chat-agency-detail .header-C61RwL {
  background-color: transparent;
  height: 41px;
  left: 76px;
  position: absolute;
  top: 24px;
  width: 274px;
}
.chat-agency-detail .hort-logo-C61RwL {
  background-color: transparent;
  height: 42px;
  left: 26px;
  position: absolute;
  top: 23px;
  width: 38px;
}
.chat-agency-detail .input-style-resizable-C61RwL {
  background-color: transparent;
  height: 62px;
  left: -5px;
  position: absolute;
  top: 420px;
  width: 380px;
}
.chat-agency-detail .label-i2751460814549-XXnnJo {
  background-color: transparent;
  color: rgba(199,201,217,1.0);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 21px;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 23.8px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: 450px;
}
.chat-agency-detail .line-XXnnJo {
  background-color: transparent;
  height: 153px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 544px;
}
.chat-agency-detail .rectangle-288-XXnnJo {
  background-color: var(--white);
  border-radius: 6px;
  height: 153px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 544px;
}
.chat-agency-detail .send-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 326px;
  overflow: hidden;
  position: absolute;
  top: 440px;
  width: 24px;
}
.chat-agency-detail .skyscape-gardens-w3182L {
  background-color: transparent;
  color: var(--onyx);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 276px;
}
.chat-agency-detail .vector-8pV5zV {
  background-color: transparent;
  height: 22px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 22px;
}
.chat-agency-detail .vector-VRSxvs {
  background-color: transparent;
  height: 14px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 14px;
}
.chat-agency-detail .vector-sV61f3 {
  background-color: transparent;
  height: 13px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 13px;
}
.exo-bold-white-24px {
  color: var(--white);
  font-family: 'Exo', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.exo-medium-desert-storm-54px {
  color: var(--desert-storm);
  font-family: 'Exo', Helvetica, Arial, serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
}
.exo-normal-onyx-20px {
  color: var(--onyx);
  font-family: 'Exo', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.opensans-light-onyx-24px {
  color: var(--onyx);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
}
.opensans-normal-onyx-13px {
  color: var(--onyx);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.opensans-normal-onyx-24px {
  color: var(--onyx);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.opensans-normal-white-24px {
  color: var(--white);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.opensans-semi-bold-white-16px {
  color: var(--white);
  font-family: 'Open Sans', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.robotocondensed-light-onyx-21px {
  color: var(--onyx);
  font-family: 'Roboto Condensed', Helvetica, Arial, serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
}
.robotocondensed-normal-black-18px {
  color: var(--black-2);
  font-family: 'Roboto Condensed', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --black: rgba(0,0,0,1.0);
  --black-2: rgba(0,0,0,0.44);
  --black-3: rgba(0,0,0,0.31);
  --congress-blue: rgba(0,72,124,1.0);
  --congress-blue-2: rgba(0,72,124,0.3);
  --desert-storm: rgba(248,248,248,1.0);
  --mist-gray: rgba(196,196,196,0.5);
  --onyx: rgba(58,58,60,1.0);
  --sushi: rgba(131,179,59,1.0);
  --white: rgba(255,255,255,1.0);
}
