#e606_1873 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:4653px;
	position:absolute;
}#e625_915 { 
	width:1441px;
	height:702px;
	position:absolute;
	left:0px;
	top:91px;
}#e606_1901 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:1440px;
	height:701px;
	position:absolute;
	left:0px;
	top:1px;
	background-image:url(images/erectangle_26.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e606_1911 { 
	background-image:linear-gradient(0deg, rgba(148.7499949336052, 148.7499949336052, 148.7499949336052, 1) 27.08333432674408%,rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0) 100%) ;
	width:1440px;
	height:702px;
	position:absolute;
	left:1px;
	top:0px;
}#e606_1917 { 
	color:rgba(255, 255, 255, 1);
	width:757px;
	height:303px;
	position:absolute;
	left:354px;
	top:111px;
	font-family:Exo;
	text-align:center;
	font-size:56px;
	letter-spacing:10;
}#e606_1895 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:92px;
	position:absolute;
	left:0px;
	top:0px;
}#e625_942 { 
	width:1096px;
	height:198px;
	position:absolute;
	left:174px;
	top:2972px;
}#e606_1882 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:807px;
	height:184px;
	position:absolute;
	left:289px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}#e606_1885 { 
	color:rgba(0, 72.00000330805779, 124.00000020861626, 1);
	width:158px;
	height:48px;
	position:absolute;
	left:0px;
	top:78px;
	font-family:Exo;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}#e606_1902 { 
	transform: rotate(89.99999749552173deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:185px;
	height:0px;
	position:absolute;
	left:221px;
	top:13px;
}#e625_941 { 
	width:1444px;
	height:480px;
	position:absolute;
	left:-0.00001455589517718181px;
	top:3240px;
}#e606_1884 { 
	transform: rotate(90.00000250447808deg);
	background-color:rgba(0, 72.00000330805779, 124.00000020861626, 1);
	width:333.00006103515625px;
	height:1444px;
	position:absolute;
	left:1444px;
	top:57px;
}#e606_1886 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:350px;
	height:415px;
	position:absolute;
	left:168.00001525878906px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/escreen_shot_2021_02_20_at_10_31_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e606_1887 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:170px;
	height:21px;
	position:absolute;
	left:201.00001525878906px;
	top:432px;
	font-family:Open Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e606_1888 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:108px;
	height:23px;
	position:absolute;
	left:379px;
	top:433px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}#e606_1889 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:350px;
	height:415px;
	position:absolute;
	left:544px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/escreen_shot_2021_02_20_at_10_33_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e606_1890 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:185px;
	height:51px;
	position:absolute;
	left:511px;
	top:407px;
	font-family:Open Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e606_1891 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:259px;
	height:46px;
	position:absolute;
	left:679px;
	top:434px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}#e606_1892 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:350px;
	height:415px;
	position:absolute;
	left:920px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/escreen_shot_2021_02_20_at_10_33_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e606_1893 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:154px;
	height:32px;
	position:absolute;
	left:938px;
	top:432px;
	font-family:Open Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e606_1894 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:183px;
	height:31px;
	position:absolute;
	left:1083px;
	top:433px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}#e606_1907 { 
	transform: rotate(90.00000250447827deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:40px;
	height:0px;
	position:absolute;
	left:383px;
	top:424px;
}#e606_1908 { 
	transform: rotate(90.00000250447827deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:40px;
	height:0px;
	position:absolute;
	left:690px;
	top:424px;
}#e606_1909 { 
	transform: rotate(90.00000250447827deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:40px;
	height:0px;
	position:absolute;
	left:1088px;
	top:424px;
}#e606_1910 { 
	transform: rotate(9.213866198408551e-15deg);
	width:100px;
	height:100px;
	position:absolute;
	left:670px;
	top:880px;
	background-image:url(images/earrow_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e625_913 { 
	width:655px;
	height:281.16900634765625px;
	position:absolute;
	left:382px;
	top:4375px;
}#e606_1883 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:262px;
	height:96px;
	position:absolute;
	left:393px;
	top:49px;
	font-family:Roboto Condensed;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}#e606_1896 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:500px;
	height:28.16901206970215px;
	position:absolute;
	left:88px;
	top:253px;
	font-family:Open Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}#e606_1903 { 
	transform: rotate(89.99999749552173deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:185px;
	height:0px;
	position:absolute;
	left:342px;
	top:0px;
}#e606_1912 { 
	width:50px;
	height:50px;
	position:absolute;
	left:432px;
	top:145px;
	background-image:url(images/eiconfinder_social_media_03_5437082_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e606_1913 { 
	width:50px;
	height:50px;
	position:absolute;
	left:504px;
	top:145px;
	background-image:url(images/eiconfinder_social_media_04_5437083_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e606_1914 { 
	width:291px;
	height:116px;
	position:absolute;
	left:0px;
	top:29px;
	background-image:url(images/easset_1_2x_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e625_916 { 
	background-color:rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:158px;
	height:52px;
	position:absolute;
	left:662px;
	top:590px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}#e606_1916 { 
	color:rgba(255, 255, 255, 1);
	width:94px;
	height:24px;
	position:absolute;
	left:32px;
	top:14px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0.5;
}#e625_944 { 
	width:1440px;
	height:752px;
	position:absolute;
	left:0px;
	top:1066px;
}#e606_1875 { 
	color:rgba(0, 72.00000330805779, 124.00000020861626, 1);
	width:1440px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Exo;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}#e625_919 { 
	width:538px;
	height:300px;
	position:absolute;
	left:732px;
	top:127px;
}#e606_1900 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:538px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/erectangle_63.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e606_1918 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.5);
	width:538px;
	height:38px;
	position:absolute;
	left:0px;
	top:34px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}#e606_1921 { 
	color:rgba(255, 255, 255, 1);
	width:273px;
	height:27px;
	position:absolute;
	left:132px;
	top:36px;
	font-family:Exo;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e625_918 { 
	width:538px;
	height:300px;
	position:absolute;
	left:168px;
	top:127px;
}#e606_1897 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:538px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/erectangle_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e606_1919 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.5);
	width:538px;
	height:38px;
	position:absolute;
	left:0px;
	top:34px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}#e606_1922 { 
	color:rgba(255, 255, 255, 1);
	width:265px;
	height:27px;
	position:absolute;
	left:136px;
	top:36px;
	font-family:Exo;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e625_920 { 
	width:538px;
	height:300px;
	position:absolute;
	left:168px;
	top:452px;
}#e606_1898 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:538px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/erectangle_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e606_1920 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.5);
	width:538px;
	height:38px;
	position:absolute;
	left:0px;
	top:51px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}#e606_1923 { 
	color:rgba(255, 255, 255, 1);
	width:495px;
	height:27px;
	position:absolute;
	left:21px;
	top:55px;
	font-family:Exo;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e625_921 { 
	width:538px;
	height:300px;
	position:absolute;
	left:732px;
	top:452px;
}#e606_1899 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:538px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/erectangle_22.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e606_1924 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.5);
	width:538px;
	height:38px;
	position:absolute;
	left:0px;
	top:55px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}#e606_1925 { 
	color:rgba(255, 255, 255, 1);
	width:183px;
	height:27px;
	position:absolute;
	left:177px;
	top:57px;
	font-family:Exo;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e625_943 { 
	width:1444px;
	height:961px;
	position:absolute;
	left:-0.00003767921953112818px;
	top:1939.9998779296875px;
}#e606_1874 { 
	transform: rotate(90.00000250447808deg);
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:862.0000610351562px;
	height:1444px;
	position:absolute;
	left:1444px;
	top:0.00006311924516921863px;
}#e606_1876 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:112px;
	height:37px;
	position:absolute;
	left:176.00003051757812px;
	top:50.000064849853516px;
	font-family:Exo;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e606_1877 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:158px;
	height:37px;
	position:absolute;
	left:174.00003051757812px;
	top:290.00006103515625px;
	font-family:Exo;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e606_1878 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:180px;
	height:37px;
	position:absolute;
	left:174.00003051757812px;
	top:570.0000610351562px;
	font-family:Exo;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e606_1879 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:592px;
	height:114px;
	position:absolute;
	left:172.00003051757812px;
	top:106.00006103515625px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}#e606_1880 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:587px;
	height:109px;
	position:absolute;
	left:168.00003051757812px;
	top:348.00006103515625px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}#e606_1881 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:596px;
	height:132px;
	position:absolute;
	left:168.00003051757812px;
	top:631.0000610351562px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}#e606_1904 { 
	transform: rotate(2.9865041015481852e-15deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:593px;
	height:0px;
	position:absolute;
	left:174.00003051757812px;
	top:90.00006103515625px;
}#e606_1905 { 
	transform: rotate(2.9865041015481852e-15deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:593px;
	height:0px;
	position:absolute;
	left:174.00003051757812px;
	top:329.00006103515625px;
}#e606_1906 { 
	transform: rotate(2.9865041015481852e-15deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:593px;
	height:0px;
	position:absolute;
	left:174.00003051757812px;
	top:612.0000610351562px;
}#e606_1926 { 
	transform: rotate(90.00000250447808deg);
	width:910.9999389648438px;
	height:380.0000305175781px;
	position:absolute;
	left:1189px;
	top:50.000064849853516px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/eshutterstock_1148461052__converted__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e606_1927 { 
	width:334px;
	height:369px;
	position:absolute;
	left:938.0000610351562px;
	top:112.00006103515625px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/ehort_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e625_945 { 
	width:1440px;
	height:415px;
	position:absolute;
	left:0px;
	top:3859px;
}#e606_1928 { 
	color:rgba(0, 72.00000330805779, 124.00000020861626, 1);
	width:1440px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Exo;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}#e606_1929 { 
	transform: rotate(-90.00000250447808deg);
	width:80px;
	height:80px;
	position:absolute;
	left:1079px;
	top:266px;
	background-image:url(images/earrow_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e606_1930 { 
	transform: rotate(89.99999931675467deg);
	width:80px;
	height:80px;
	position:absolute;
	left:344px;
	top:186px;
	background-image:url(images/earrow_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e606_1931 { 
	background-color:rgba(255, 255, 255, 1);
	width:630px;
	height:340px;
	position:absolute;
	left:376px;
	top:75px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}#e606_1932 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:506px;
	height:137px;
	position:absolute;
	left:36px;
	top:54px;
	font-family:Open Sans;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}#e606_1933 { 
	color:rgba(0, 0, 0, 0.4399999976158142);
	width:220px;
	height:31px;
	position:absolute;
	left:0px;
	top:279px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e606_1934 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:181px;
	height:17px;
	position:absolute;
	left:2px;
	top:243px;
	font-family:Open Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e606_1935 { 
	color:rgba(0, 0, 0, 0.4399999976158142);
	width:295px;
	height:31px;
	position:absolute;
	left:1119px;
	top:276px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e606_1936 { 
	color:rgba(0, 0, 0, 1);
	width:181px;
	height:17px;
	position:absolute;
	left:1121px;
	top:250px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e606_1937 { 
	color:rgba(0, 0, 0, 0.4399999976158142);
	width:364px;
	height:31px;
	position:absolute;
	left:1714px;
	top:309px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e606_1938 { 
	color:rgba(0, 0, 0, 1);
	width:263px;
	height:17px;
	position:absolute;
	left:1716px;
	top:283px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e606_1939 { 
	color:rgba(0, 0, 0, 0.4399999976158142);
	width:364px;
	height:31px;
	position:absolute;
	left:2298px;
	top:297px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e606_1940 { 
	color:rgba(0, 0, 0, 1);
	width:263px;
	height:17px;
	position:absolute;
	left:2289px;
	top:272px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e606_1941 { 
	color:rgba(0, 0, 0, 0.4399999976158142);
	width:277px;
	height:31px;
	position:absolute;
	left:560px;
	top:277px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e606_1942 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:181px;
	height:26px;
	position:absolute;
	left:560px;
	top:243px;
	font-family:Open Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e606_1943 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	border:1px solid rgba(0, 0, 0, 1);
	width:532px;
	height:182px;
	position:absolute;
	left:19px;
	top:27px;
}#e606_1944 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:506px;
	height:145px;
	position:absolute;
	left:599px;
	top:34px;
	font-family:Open Sans;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}#e606_1945 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	border:1px solid rgba(0, 0, 0, 1);
	width:532px;
	height:182px;
	position:absolute;
	left:581px;
	top:27px;
}#e606_1946 { 
	color:rgba(0, 0, 0, 1);
	width:506px;
	height:145px;
	position:absolute;
	left:1161px;
	top:34px;
	font-family:Roboto Condensed;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}#e606_1947 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	border:1px solid rgba(0, 0, 0, 1);
	width:532px;
	height:182px;
	position:absolute;
	left:1143px;
	top:27px;
}#e606_1948 { 
	color:rgba(0, 0, 0, 1);
	width:506px;
	height:249px;
	position:absolute;
	left:1750px;
	top:34px;
	font-family:Roboto Condensed;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}#e606_1949 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	border:1px solid rgba(0, 0, 0, 1);
	width:532px;
	height:198px;
	position:absolute;
	left:1732px;
	top:27px;
}#e606_1950 { 
	transform: rotate(49.398706466252605deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:36.878177642822266px;
	height:0px;
	position:absolute;
	left:1732px;
	top:225px;
}#e606_1951 { 
	transform: rotate(90.39713185577735deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:27.870019912719727px;
	height:0px;
	position:absolute;
	left:1756px;
	top:225px;
}#e606_1952 { 
	color:rgba(0, 0, 0, 1);
	width:506px;
	height:171px;
	position:absolute;
	left:2363px;
	top:33px;
	font-family:Roboto Condensed;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}#e606_1953 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	border:1px solid rgba(0, 0, 0, 1);
	width:532px;
	height:198px;
	position:absolute;
	left:2345px;
	top:26px;
}#e606_1954 { 
	transform: rotate(49.398706466252605deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:36.878177642822266px;
	height:0px;
	position:absolute;
	left:2345px;
	top:224px;
}#e606_1955 { 
	transform: rotate(90.39713185577735deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:27.870019912719727px;
	height:0px;
	position:absolute;
	left:2369px;
	top:224px;
}#e606_1956 { 
	transform: rotate(49.398706466252605deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:36.878177642822266px;
	height:0px;
	position:absolute;
	left:1143px;
	top:209px;
}#e606_1957 { 
	transform: rotate(90.39713185577735deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:27.870019912719727px;
	height:0px;
	position:absolute;
	left:1167px;
	top:209px;
}#e606_1958 { 
	transform: rotate(49.398706466252605deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:36.878177642822266px;
	height:0px;
	position:absolute;
	left:581px;
	top:209px;
}#e606_1959 { 
	transform: rotate(90.39713185577735deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:27.870019912719727px;
	height:0px;
	position:absolute;
	left:605px;
	top:209px;
}#e606_1960 { 
	transform: rotate(49.398706466252605deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:36.878177642822266px;
	height:0px;
	position:absolute;
	left:19px;
	top:209px;
}#e606_1961 { 
	transform: rotate(90.39713185577735deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:27.870019912719727px;
	height:0px;
	position:absolute;
	left:43px;
	top:209px;
}#e606_1962 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:391.7455139160156px;
	height:84px;
	position:absolute;
	left:987px;
	top:880px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}#ei606_1962_275_1687 { 
	opacity:0.20000000298023224;
	width:38px;
	height:42px;
	position:absolute;
	left:25px;
	top:21px;
	background-image:url(images/ehort_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}#ei606_1962_275_1683 { 
	width:273.7455139160156px;
	height:41px;
	position:absolute;
	left:63px;
	top:21px;
}#ei606_1962_275_1684 { 
	width:273.7455139160156px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}#ei606_1962_275_1685 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:273.7455139160156px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}#ei606_1962_275_1686 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 0.6399999856948853);
	width:90.8602066040039px;
	height:16px;
	position:absolute;
	left:0px;
	top:25px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}#ei606_1962_275_1699 { 
	width:30px;
	height:30px;
	position:absolute;
	left:336.7455139160156px;
	top:21px;
}#ei606_1962_275_1699_8_13552 { 
	border:1.5px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:28.125px;
	height:28.125px;
	position:absolute;
	left:0.9375px;
	top:0.9375px;
}#ei606_1962_275_1699_8_13553 { 
	border:1.5px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:16.875px;
	height:0px;
	position:absolute;
	left:6.5625px;
	top:9.375px;
}#ei606_1962_275_1699_8_13554 { 
	border:1.5px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:13.125px;
	height:0px;
	position:absolute;
	left:6.5625px;
	top:15px;
}#e625_914 { 
	width:1441px;
	height:91px;
	position:absolute;
	left:0px;
	top:0px;
}#e606_1963 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1441px;
	height:91px;
	position:absolute;
	left:0px;
	top:0px;
}#e606_1964 { 
	transform: rotate(90.00000250447827deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:40px;
	height:0px;
	position:absolute;
	left:1009px;
	top:26px;
}#e606_1965 { 
	transform: rotate(90.00000250447827deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:40px;
	height:0px;
	position:absolute;
	left:1129px;
	top:26px;
}#e606_1966 { 
	transform: rotate(90.00000250447827deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:40px;
	height:0px;
	position:absolute;
	left:1249px;
	top:26px;
}#e606_1967 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:68px;
	height:28px;
	position:absolute;
	left:932px;
	top:34px;
	font-family:Exo;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}#e606_1968 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:102px;
	height:28px;
	position:absolute;
	left:1018px;
	top:34px;
	font-family:Exo;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}#e606_1969 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:102px;
	height:28px;
	position:absolute;
	left:1138px;
	top:34px;
	font-family:Exo;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}#e606_1970 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:1258px;
	top:34px;
	font-family:Exo;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}#e606_1971 { 
	width:277px;
	height:36.24028778076172px;
	position:absolute;
	left:27px;
	top:26px;
	background-image:url(images/ehort_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}