#e275_708 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:4653px;
	position:absolute;
}#e351_2311 { 
	transform: rotate(90.00000250447808deg);
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:862.0000610351562px;
	height:1444px;
	position:absolute;
	left:1444px;
	top:1940px;
}#e275_709 { 
	color:rgba(0, 72.00000330805779, 124.00000020861626, 1);
	width:1440px;
	height:52px;
	position:absolute;
	left:0px;
	top:1066px;
	font-family:Exo;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}#e275_711 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:112px;
	height:37px;
	position:absolute;
	left:176px;
	top:1990px;
	font-family:Exo;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e275_712 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:158px;
	height:37px;
	position:absolute;
	left:174px;
	top:2230px;
	font-family:Exo;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e275_713 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:180px;
	height:37px;
	position:absolute;
	left:174px;
	top:2510px;
	font-family:Exo;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e275_714 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:592px;
	height:114px;
	position:absolute;
	left:172px;
	top:2046px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}#e275_715 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:587px;
	height:109px;
	position:absolute;
	left:168px;
	top:2288px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}#e275_716 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:596px;
	height:132px;
	position:absolute;
	left:168px;
	top:2571px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}#e275_717 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:807px;
	height:184px;
	position:absolute;
	left:463px;
	top:2972px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}#e275_718 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:262px;
	height:96px;
	position:absolute;
	left:775px;
	top:4424px;
	font-family:Roboto Condensed;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}#e339_2310 { 
	transform: rotate(90.00000250447808deg);
	background-color:rgba(0, 72.00000330805779, 124.00000020861626, 1);
	width:333.00006103515625px;
	height:1444px;
	position:absolute;
	left:1444px;
	top:3297px;
}#e275_719 { 
	color:rgba(0, 72.00000330805779, 124.00000020861626, 1);
	width:158px;
	height:48px;
	position:absolute;
	left:174px;
	top:3050px;
	font-family:Exo;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}#e275_721 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:350px;
	height:415px;
	position:absolute;
	left:168px;
	top:3240px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/escreen_shot_2021_02_20_at_10_31_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e275_722 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:170px;
	height:21px;
	position:absolute;
	left:201px;
	top:3672px;
	font-family:Open Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e275_723 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:108px;
	height:23px;
	position:absolute;
	left:379px;
	top:3673px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}#e275_724 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:350px;
	height:415px;
	position:absolute;
	left:544px;
	top:3240px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/escreen_shot_2021_02_20_at_10_33_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e275_725 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:185px;
	height:51px;
	position:absolute;
	left:511px;
	top:3647px;
	font-family:Open Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e275_726 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:259px;
	height:46px;
	position:absolute;
	left:679px;
	top:3674px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}#e275_727 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:350px;
	height:415px;
	position:absolute;
	left:920px;
	top:3240px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/escreen_shot_2021_02_20_at_10_33_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e275_728 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:154px;
	height:32px;
	position:absolute;
	left:938px;
	top:3672px;
	font-family:Open Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e275_729 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:183px;
	height:31px;
	position:absolute;
	left:1083px;
	top:3673px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}#e275_731 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:92px;
	position:absolute;
	left:0px;
	top:0px;
}#e275_734 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:500px;
	height:28.16901206970215px;
	position:absolute;
	left:470px;
	top:4628px;
	font-family:Open Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}#e275_735 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:538px;
	height:300px;
	position:absolute;
	left:168px;
	top:1193px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/erectangle_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e275_736 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:538px;
	height:300px;
	position:absolute;
	left:168px;
	top:1518px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/erectangle_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e275_737 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:538px;
	height:300px;
	position:absolute;
	left:732px;
	top:1518px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/erectangle_22.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e275_738 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:538px;
	height:300px;
	position:absolute;
	left:732px;
	top:1193px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/erectangle_63.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e275_739 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:1440px;
	height:701px;
	position:absolute;
	left:0px;
	top:92px;
	background-image:url(images/erectangle_26.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e275_777 { 
	transform: rotate(89.99999749552173deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:185px;
	height:0px;
	position:absolute;
	left:395px;
	top:2985px;
}#e275_778 { 
	transform: rotate(89.99999749552173deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:185px;
	height:0px;
	position:absolute;
	left:724px;
	top:4375px;
}#e275_779 { 
	transform: rotate(2.9865041015481852e-15deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:593px;
	height:0px;
	position:absolute;
	left:174px;
	top:2030px;
}#e275_780 { 
	transform: rotate(2.9865041015481852e-15deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:593px;
	height:0px;
	position:absolute;
	left:174px;
	top:2269px;
}#e275_781 { 
	transform: rotate(2.9865041015481852e-15deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:593px;
	height:0px;
	position:absolute;
	left:174px;
	top:2552px;
}#e275_783 { 
	transform: rotate(90.00000250447827deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:40px;
	height:0px;
	position:absolute;
	left:383px;
	top:3664px;
}#e275_784 { 
	transform: rotate(90.00000250447827deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:40px;
	height:0px;
	position:absolute;
	left:690px;
	top:3664px;
}#e275_785 { 
	transform: rotate(90.00000250447827deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:40px;
	height:0px;
	position:absolute;
	left:1088px;
	top:3664px;
}#e275_788 { 
	transform: rotate(9.213866198408551e-15deg);
	width:100px;
	height:100px;
	position:absolute;
	left:670px;
	top:880px;
	background-image:url(images/earrow_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e275_964 { 
	background-image:linear-gradient(0deg, rgba(148.7499949336052, 148.7499949336052, 148.7499949336052, 1) 27.08333432674408%,rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0) 100%) ;
	width:1440px;
	height:702px;
	position:absolute;
	left:1px;
	top:91px;
}#e275_798 { 
	width:50px;
	height:50px;
	position:absolute;
	left:814px;
	top:4520px;
	background-image:url(images/eiconfinder_social_media_03_5437082_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e275_799 { 
	width:50px;
	height:50px;
	position:absolute;
	left:886px;
	top:4520px;
	background-image:url(images/eiconfinder_social_media_04_5437083_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e275_921 { 
	width:327px;
	height:137px;
	position:absolute;
	left:371px;
	top:4399px;
	background-image:url(images/easset_1_2x_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e275_774 { 
	background-color:rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:199px;
	height:52px;
	position:absolute;
	left:621px;
	top:590px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}#e275_775 { 
	color:rgba(255, 255, 255, 1);
	width:135px;
	height:24px;
	position:absolute;
	left:32px;
	top:14px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0.5;
}#e609_913 { 
	background-color:rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:199px;
	height:52px;
	position:absolute;
	left:775px;
	top:4349px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}#e609_914 { 
	color:rgba(255, 255, 255, 1);
	width:135px;
	height:24px;
	position:absolute;
	left:32px;
	top:14px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0.5;
}#e275_965 { 
	color:rgba(255, 255, 255, 1);
	width:757px;
	height:303px;
	position:absolute;
	left:354px;
	top:202px;
	font-family:Exo;
	text-align:center;
	font-size:56px;
	letter-spacing:10;
}#e275_967 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.5);
	width:538px;
	height:38px;
	position:absolute;
	left:732px;
	top:1227px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}#e275_968 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.5);
	width:538px;
	height:38px;
	position:absolute;
	left:168px;
	top:1227px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}#e275_969 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.5);
	width:538px;
	height:38px;
	position:absolute;
	left:168px;
	top:1569px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}#e275_795 { 
	color:rgba(255, 255, 255, 1);
	width:273px;
	height:27px;
	position:absolute;
	left:864px;
	top:1229px;
	font-family:Exo;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e275_794 { 
	color:rgba(255, 255, 255, 1);
	width:265px;
	height:27px;
	position:absolute;
	left:304px;
	top:1229px;
	font-family:Exo;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e275_796 { 
	color:rgba(255, 255, 255, 1);
	width:495px;
	height:27px;
	position:absolute;
	left:189px;
	top:1573px;
	font-family:Exo;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e275_977 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.5);
	width:538px;
	height:38px;
	position:absolute;
	left:732px;
	top:1573px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}#e275_978 { 
	color:rgba(255, 255, 255, 1);
	width:183px;
	height:27px;
	position:absolute;
	left:909px;
	top:1575px;
	font-family:Exo;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e351_2330 { 
	transform: rotate(90.00000250447808deg);
	width:910.9999389648438px;
	height:380.0000305175781px;
	position:absolute;
	left:1189px;
	top:1990px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/eshutterstock_1148461052__converted__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e275_1422 { 
	width:334px;
	height:369px;
	position:absolute;
	left:938px;
	top:2052px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/ehort_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e564_109 { 
	color:rgba(0, 72.00000330805779, 124.00000020861626, 1);
	width:1440px;
	height:65px;
	position:absolute;
	left:0px;
	top:3832px;
	font-family:Exo;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}#e564_110 { 
	transform: rotate(-90.00000250447808deg);
	width:80px;
	height:80px;
	position:absolute;
	left:1079px;
	top:4098px;
	background-image:url(images/earrow_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e564_111 { 
	transform: rotate(89.99999931675467deg);
	width:80px;
	height:80px;
	position:absolute;
	left:344px;
	top:4018px;
	background-image:url(images/earrow_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e564_112 { 
	background-color:rgba(255, 255, 255, 1);
	width:630px;
	height:340px;
	position:absolute;
	left:376px;
	top:3907px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}#e564_113 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:506px;
	height:137px;
	position:absolute;
	left:36px;
	top:54px;
	font-family:Open Sans;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}#e564_114 { 
	color:rgba(0, 0, 0, 0.4399999976158142);
	width:220px;
	height:31px;
	position:absolute;
	left:0px;
	top:279px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e564_115 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:181px;
	height:17px;
	position:absolute;
	left:2px;
	top:243px;
	font-family:Open Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e564_116 { 
	color:rgba(0, 0, 0, 0.4399999976158142);
	width:295px;
	height:31px;
	position:absolute;
	left:1119px;
	top:276px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e564_117 { 
	color:rgba(0, 0, 0, 1);
	width:181px;
	height:17px;
	position:absolute;
	left:1121px;
	top:250px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e564_118 { 
	color:rgba(0, 0, 0, 0.4399999976158142);
	width:364px;
	height:31px;
	position:absolute;
	left:1714px;
	top:309px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e564_119 { 
	color:rgba(0, 0, 0, 1);
	width:263px;
	height:17px;
	position:absolute;
	left:1716px;
	top:283px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e564_120 { 
	color:rgba(0, 0, 0, 0.4399999976158142);
	width:364px;
	height:31px;
	position:absolute;
	left:2298px;
	top:297px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e564_121 { 
	color:rgba(0, 0, 0, 1);
	width:263px;
	height:17px;
	position:absolute;
	left:2289px;
	top:272px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e564_122 { 
	color:rgba(0, 0, 0, 0.4399999976158142);
	width:277px;
	height:31px;
	position:absolute;
	left:560px;
	top:277px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}#e564_123 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:181px;
	height:26px;
	position:absolute;
	left:560px;
	top:243px;
	font-family:Open Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}#e564_124 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	border:1px solid rgba(0, 0, 0, 1);
	width:532px;
	height:182px;
	position:absolute;
	left:19px;
	top:27px;
}#e564_125 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:506px;
	height:145px;
	position:absolute;
	left:599px;
	top:34px;
	font-family:Open Sans;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}#e564_126 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	border:1px solid rgba(0, 0, 0, 1);
	width:532px;
	height:182px;
	position:absolute;
	left:581px;
	top:27px;
}#e564_127 { 
	color:rgba(0, 0, 0, 1);
	width:506px;
	height:145px;
	position:absolute;
	left:1161px;
	top:34px;
	font-family:Roboto Condensed;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}#e564_128 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	border:1px solid rgba(0, 0, 0, 1);
	width:532px;
	height:182px;
	position:absolute;
	left:1143px;
	top:27px;
}#e564_129 { 
	color:rgba(0, 0, 0, 1);
	width:506px;
	height:249px;
	position:absolute;
	left:1750px;
	top:34px;
	font-family:Roboto Condensed;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}#e564_130 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	border:1px solid rgba(0, 0, 0, 1);
	width:532px;
	height:198px;
	position:absolute;
	left:1732px;
	top:27px;
}#e564_131 { 
	transform: rotate(49.398706466252605deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:36.878177642822266px;
	height:0px;
	position:absolute;
	left:1732px;
	top:225px;
}#e564_132 { 
	transform: rotate(90.39713185577735deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:27.870019912719727px;
	height:0px;
	position:absolute;
	left:1756px;
	top:225px;
}#e564_133 { 
	color:rgba(0, 0, 0, 1);
	width:506px;
	height:171px;
	position:absolute;
	left:2363px;
	top:33px;
	font-family:Roboto Condensed;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}#e564_134 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	border:1px solid rgba(0, 0, 0, 1);
	width:532px;
	height:198px;
	position:absolute;
	left:2345px;
	top:26px;
}#e564_135 { 
	transform: rotate(49.398706466252605deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:36.878177642822266px;
	height:0px;
	position:absolute;
	left:2345px;
	top:224px;
}#e564_136 { 
	transform: rotate(90.39713185577735deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:27.870019912719727px;
	height:0px;
	position:absolute;
	left:2369px;
	top:224px;
}#e564_137 { 
	transform: rotate(49.398706466252605deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:36.878177642822266px;
	height:0px;
	position:absolute;
	left:1143px;
	top:209px;
}#e564_138 { 
	transform: rotate(90.39713185577735deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:27.870019912719727px;
	height:0px;
	position:absolute;
	left:1167px;
	top:209px;
}#e564_139 { 
	transform: rotate(49.398706466252605deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:36.878177642822266px;
	height:0px;
	position:absolute;
	left:581px;
	top:209px;
}#e564_140 { 
	transform: rotate(90.39713185577735deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:27.870019912719727px;
	height:0px;
	position:absolute;
	left:605px;
	top:209px;
}#e564_141 { 
	transform: rotate(49.398706466252605deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:36.878177642822266px;
	height:0px;
	position:absolute;
	left:19px;
	top:209px;
}#e564_142 { 
	transform: rotate(90.39713185577735deg);
	border:1px solid rgba(0, 0, 0, 1);
	width:27.870019912719727px;
	height:0px;
	position:absolute;
	left:43px;
	top:209px;
}#e311_2271 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:391.7455139160156px;
	height:84px;
	position:absolute;
	left:987px;
	top:880px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}#e275_1687 { 
	opacity:0.20000000298023224;
	width:38px;
	height:42px;
	position:absolute;
	left:25px;
	top:21px;
	background-image:url(images/ehort_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e275_1683 { 
	width:273.7455139160156px;
	height:41px;
	position:absolute;
	left:63px;
	top:21px;
}#e275_1684 { 
	width:273.7455139160156px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}#e275_1685 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:273.7455139160156px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}#e275_1686 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 0.6399999856948853);
	width:90.8602066040039px;
	height:16px;
	position:absolute;
	left:0px;
	top:25px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}#e275_1699 { 
	width:30px;
	height:30px;
	position:absolute;
	left:336.7455139160156px;
	top:21px;
}#ei275_1699_8_13552 { 
	border:1.5px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:28.125px;
	height:28.125px;
	position:absolute;
	left:0.9375px;
	top:0.9375px;
}#ei275_1699_8_13553 { 
	border:1.5px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:16.875px;
	height:0px;
	position:absolute;
	left:6.5625px;
	top:9.375px;
}#ei275_1699_8_13554 { 
	border:1.5px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:13.125px;
	height:0px;
	position:absolute;
	left:6.5625px;
	top:15px;
}#e275_1748 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1441px;
	height:91px;
	position:absolute;
	left:0px;
	top:0px;
}#e275_776 { 
	transform: rotate(90.00000250447827deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:40px;
	height:0px;
	position:absolute;
	left:1009px;
	top:26px;
}#e275_782 { 
	transform: rotate(90.00000250447827deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:40px;
	height:0px;
	position:absolute;
	left:1129px;
	top:26px;
}#e275_786 { 
	transform: rotate(90.00000250447827deg);
	border:1px solid rgba(131.00000739097595, 179.000004529953, 59.00000028312206, 1);
	width:40px;
	height:0px;
	position:absolute;
	left:1249px;
	top:26px;
}#e275_801 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:68px;
	height:28px;
	position:absolute;
	left:932px;
	top:34px;
	font-family:Exo;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}#e275_802 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:102px;
	height:28px;
	position:absolute;
	left:1018px;
	top:34px;
	font-family:Exo;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}#e275_803 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:102px;
	height:28px;
	position:absolute;
	left:1138px;
	top:34px;
	font-family:Exo;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}#e275_804 { 
	color:rgba(58.00000034272671, 58.00000034272671, 60.00000022351742, 1);
	width:109px;
	height:28px;
	position:absolute;
	left:1258px;
	top:34px;
	font-family:Exo;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}#e275_732 { 
	width:277px;
	height:36.24028778076172px;
	position:absolute;
	left:27px;
	top:26px;
	background-image:url(images/ehort_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}